:root {
  --bluegray: #3e5264;
  --cream: #f7f2dd;
  --nanogreen: #e1eded;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 800px;
  margin: auto;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main {
  text-align: center;
  padding: 20px 0px;
}

h1 {
  color: var(--bluegray);
}
